.dashboardButtonContainer {
	display: flex;
	flex-flow: row wrap;
}

.dashboardButton {
	flex: 1;
	flex-basis: 33%;

	display: flex;
	flex-direction: column;
	text-align: center;

	background-color: rgb(199, 199, 199);
	padding: 25px 50px;
	margin: 10px;
	border: 2px solid rgb(128, 128, 128);
	border-radius: 25px;
	transition: background-color 0.15s;
}

.dashboardButton:hover {
	background-color: rgb(177, 177, 177);
}

.dashboardButton i {
	font-size: 35px;
	margin-bottom: 15px;
}

.dashboardButton h3 {
	font-size: 25px;
}